.footerContainer{
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 8px;
  background-color:#262626;
  height: 68px;
  margin-top: 80px;
}

.footerNavigator-bottom{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footerNavigator-bottomText {
  display: flex;
  gap: 20px;
}

.footerNavigator-bottomText p {
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;  
}

.footerNavigator-socialIcons {
  display: flex;
  gap: 10px;
}

.footerNavigator-socialIcons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px; 
}

.footerNavigator-socialIcons a img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@media (max-width: 900px) {

.footerContainer{
  margin-top: 50px;
  display: block;
  height: auto;
}

.footerNavigator-bottom{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footerNavigator-socialIcons{
  margin-top: 20px;
}

.footerNavigator-socialIcons a{
  width: 60px;
  height: 60px;
}



.footerNavigator-bottomText{
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.footerNavigator-bottomText p{
  margin: 0;
  text-align: center;
  font-size: 14px;
}

}



