.parentContainer{
  display: grid;
  grid-template-columns: 80px repeat(12, 1fr) 80px;
  gap: 8px; 
  background-color: #141414;
}

.advertisement{
  margin-top: 110px;
}

.advertisement--header--logo{
  transform: translateX(-10px); 
}

.advertisement-header{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}

.advertisement-header--description{
  max-width: 975px;
}

.advertisement-header--description--title{
  margin-top: 6px;
  margin-bottom: 0;
  font-family: Urbanist;
  font-size: 38px;
  font-weight: 600;
  line-height: 57px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.advertisement-header--description--text{
  margin-top: 10px;
  margin-bottom: 0;
  color: #999999;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.advertisement-content{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.advertisement--card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border: 1px solid #262626;
  border-radius: 12px;
}

.advertisement--card--image--wrapper {
  width: 100%; 
  height: auto; 
  overflow: hidden;
  // max-width: 100%;
  // display: flex;
}

.advertisement--card--image {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  // max-width: 100%;
  // height: auto;
  // display: block;
  // object-fit: contain;
}

.advertisement--card--text{
  display: flex;
  flex-direction: column;
}

.advertisement--card--text--title{ 
  margin-top: 20px;
  margin-bottom: 0;
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.advertisement--card--text--description{
  margin-top: 4px;
  margin-bottom: 0;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #999999;
}

.advertisement--card--text--description--span{
  color: #FFFFFF;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.advertisement--card--logo {
  margin-top: 24px;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
 
}

.advertisement--card--logo--item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1A1A1A;
  border: 1px solid #262626;
  border-radius: 28px;
  padding: 6px 14px;
  box-sizing: border-box;
}

.advertisement--card--logo--item:nth-child(3) {
  // max-width: 71px;
}
.advertisement--card--logo--item--images{
  width: 24px;
  height: 24px;
}

.advertisement--card--logo--item p {  
  white-space: nowrap;
  text-size-adjust: auto;
  margin: 0; 
  font-size: 14px; 
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.advertisement--card--footer{
  margin-top: 24px;
  display: flex;
  gap: 30px;
}

.advertisement--card--text--price{
  display: flex;
  flex-direction: column;
}

.advertisement--card--text--price--text{
  margin: 0;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #999999;
}

.advertisement--card--text--price--number{
  margin: 0;
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

////////
.advertisement-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
}

@media (max-width: 1100px) {
  .advertisement-content{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
.advertisement{
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 65px;
}

.advertisement-content {
  grid-template-columns: 1fr; 
}

.advertisement-header{
  margin-bottom: 40px;
}

.advertisement-header--button{
  display: none;
}

.advertisement-header--description{
  width: 100%;
}

.advertisement-header--description--title {
  font-size: 28px;
}

.advertisement-header--description--text{
  margin-top: 6px;
  font-size: 14px;
}

.advertisement--card{
  padding: 24px;
}

.advertisement--card--text--title{
  font-size: 28px;
  margin-top: 16px;
}

.advertisement--card--text--description{
  margin-top: 2px;
  font-size: 14px;
}

.advertisement--card--logo{
  margin-top: 20px;
  display: flex;
  gap:6px;
}

// Адаптація нижньої частини
// .advertisement-pagination--wrapper{
//   position: relative;
// }

// .pagination-buttons{
//   display: flex;
//   gap: 68px;
// }

// .pagination-info{
//   position: absolute;
//   right: 64px;
//   top: 28px;
// }

// .advertisement--button--mobile{
//   position: absolute;
//   display: flex;
//   top: 16px;
// }

// .advertisement-pagination{
//   justify-content: end;
// }
  // Кінець Адаптація нижньої частини
}



  