.footerArticle {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 8px;
  background-color: #1A1A1A;
  border-width: 1px, 0px, 1px, 0px;
  border-style: solid;
  border-color: #262626;
}

.containerArticle {
  grid-column: 2 / 14; 
  margin-top: 72px;
}

.textOverlay{
  display: flex;
  align-items: center;
  min-height: 139px;
  gap: 150px;
}

.textOverlay--description {
  margin-bottom: 20px;  
}

.textOverlay--description h2 {
  margin: 0;
  font-family: Urbanist;
  font-size: 38px;
  font-weight: 600;
  line-height: 57px;
  color: #FFFFFF;
  margin-bottom: 16px;  
}

.textOverlay--description p {
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #999999;
  margin-bottom: 20px;  
}

