.OurJourneyWrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
  margin-top: 70px;
}

.OurJourneyWrapper--description{
  grid-column: 1 / 7;

}

.OurJourneyWrapper--content--logo{
  margin-top: 25px;
  transform: translateX(-10px);
}

.OurJourneyWrapper--content--title{
  margin-top: 6.5px;
  margin-bottom: 0;
  font-family: Urbanist;
  font-size: 38px;
  font-weight: 600;
  line-height: 57px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.OurJourneyWrapper--content--description{
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #999999;
}

.OurJourneyWrapper--backgroundImage{
  grid-column: 7 / 13;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center; 
  display: flex;
  border: 1px solid #262626;
  border-radius: 12px;
  margin-left: 60px;
}

.OurJourneyWrapper--images--buil{
  width: 100%;
  background-position: center;   
}

@media (max-width: 900px) {

.OurJourneyWrapper {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 50px;
  gap: 21px;
}

.OurJourneyWrapper--backgroundImage{
  margin-left: 0;
}

.OurJourneyWrapper--description{
  padding-right: 0;
}
  
.OurJourneyWrapper--content--logo{
  margin-top: 0;
}

.OurJourneyWrapper--content--title{
  margin-top: 8px;
  font-size: 28px;
  line-height: 42px;
}

.OurJourneyWrapper--content--description{
  margin-top: 8px;
  font-size: 14px;
  line-height: 21px;
}

.header-title--experience{
  margin-top: 40px;
  margin-bottom: 0;
}

.journey-title--experience{
  gap: 16px;
}

}
  