.custom-button {
  height: 49px;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #262626;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.9s;
  text-align: center;
  padding-left:20px;
  padding-right: 20px;
}

.custom-button:hover {
  background-color: #703BF7;
}