.footerContainer{
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 8px;
  background-color:#262626;
  height: 68px;
  margin-top: 80px;
}

.footerNavigator-bottom{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerNavigator-bottomText {
  display: flex;
  gap: 20px;
}

.footerNavigator-bottomText p {
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;  
}

.footerNavigator-socialIcons {
  display: flex;
  gap: 10px;
}

.footerNavigator-socialIcons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px; 
}

.footerNavigator-socialIcons a img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.footerNavigator-email {
  margin-top: 40px;
  border: 1px solid #262626;
  border-radius: 8px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  height: 52px;
}

.footerNavigator-emailButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.footerNavigator-emailIcon {
  width: 24px;
  height: 24px;
}

.footerNavigator-emailInput {
  background-color: #1a1a1a;
  border: none;
  background-image: url('../../imagesLogo/mail.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px;
  padding-left: 30px;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footerNavigator-links {
  width: 100%;
  max-width: 875px;
  display: flex;
  justify-content: space-between;
}

.footerNavigator-linksColumn h4 {
  margin-top: 0;
  margin-bottom: 24px;
  color: #999999;
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
