.testimonial{
  margin-top: 90px;
}

.testimonial--header--logo{
  transform: translateX(-10px);
}

.testimonial--header--wrapper{
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.testimonial--header{
  display: flex;
  flex-direction: column;
}

.testimonial--header-title{
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Urbanist;
  font-size: 38px;
  font-weight: 600;
  line-height: 57px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.testimonial--header-description{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:#999999
}
.testimonial--header-button {             
       
  width: 100%;
  max-width: 172px;        
}

.testimonials-list{
  // // display: flex;
  // // justify-content: space-between;
  // // margin-top: 60px;
  // // gap: 20px;
  // /*
  margin-top: 60px; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}

.testimonial--card{
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 1px solid #262626;
  border-radius: 10px;
}

.star-rating--wrapper{
  display: flex;
  gap: 8px;
}

.star-rating{
  background-color: #1A1A1A;
  border: 1px solid #262626;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 36px;
  box-sizing: border-box;
}

.star-rating img{
  width: 20px;
  height: 20px;
}


.testimonial--card--text--title{
  margin-top: 30px;
  margin-bottom: 0;
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.testimonial--card--text--description{
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.testimonial--card--client-info{
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.testimonial--card--client-image--wrapper{
  max-width: 50px;
  max-height: 50px;
}

.testimonial--card--client-image{
  width: 100%;
  height: 100%;
}

.testimonial--card--client-details{
  display: flex;
  flex-direction: column;
}

.testimonial--card--client-name{
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.testimonial--card--client-location{
  margin-top: 0.6px;
  margin-bottom: 0;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #999999;
}

.pagination {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #262626;
  margin-top: 40px;
  padding-top:16px;
}

.pagination-info{
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #999999;
}

.pagination-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 5px;

}

.pagination-button .arrow {
  width: 44px;
  height: 44px;
  transition: opacity 0.3s ease;
}
.pagination-button[disabled] .arrow {
  opacity: 0.5;
}

.pagination-button:not([disabled]) .arrow {
  opacity: 1;
}

.pagination-button[disabled] {
  cursor: not-allowed;
}

.pagination-button:not([disabled]) {
  cursor: pointer;
}

.pagination--button--mobile{
  display: none;
}

@media (max-width: 1100px) {
  .testimonials-list{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
.testimonial {
  margin-top: 61px;
  padding-left: 16px;
  padding-right: 16px;
}

.testimonial--header-title{
  font-size: 28px;
  margin-bottom: 6px;
}

.testimonial--header-description{
  font-size: 14px;
  line-height: 21px;
}

.advertisement-header--description--text{
  margin-top: 6px;
  font-size: 14px;
}

.testimonial--header-button{
  display: none;
}

.testimonials-list{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.testimonial--card{
  padding: 30px;
}

.star-rating{
  width: 30px;
  height: 30px;
}

.testimonial--card--text--title{
  margin-top: 24px;
  font-size: 18px;
}

.testimonial--card--text--description{
  margin-top: 6px;
  font-size: 14px;
}

.testimonial--card--client-info{
  margin-top: 24px;
  gap: 10px;
}

.testimonial--card--client-name{
  font-size: 16px;
}

.testimonial--card--client-location{
  font-size: 14px;
}

// Адаптація нижньої частини
.pagination--button--mobile{
  display: block;
}

.pagination--wrapper{
  position: relative;
}

.pagination{
  margin-top: 30px;
  flex-direction: row-reverse;
}

.pagination-buttons{
  display: flex;
  gap: 68px;
}

.pagination-info{
  position: absolute;
  right: 64px;
  top: 28px;
  font-size: 14px;
  line-height: 21px;
}

.pagination--button--mobile{
  position: absolute;
  display: flex;
  top: 16px;
}
  // Кінець Адаптація нижньої частини
}

