
.custom-arrows--wrapper{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.custom-arrows{
 
  display: flex;
  gap: 10px;
  border-radius: 100px;
  padding: 8px;
  background-color: #141414;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

.dot {
  width: 11.7px;
  height: 3px;
  background-color: #4D4D4D;
  border-radius: 60px;
  transition: background-color 0.3s ease;
}

.dot-active {
  background-color: #703BF7;
}
}

// Стилі для стрілок
.prev-button,
.next-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.prev-button img,
.next-button img {
  width: 44px;
  height: 44px;
  transition: opacity 0.3s ease;
}

.pagination-button[disabled] .arrow {
  opacity: 0.5;  
}

.pagination-button:not([disabled]) .arrow {
  opacity: 1;
}


@media (max-width: 900px) {






}