
.header-title {
  grid-column: 1 / 15; 
  display: grid;
  grid-template-columns: repeat(14, 1fr); 
  grid-template-rows: auto; 
  align-items: start; 
  gap: 8px;
  position: relative;
}

.header-title--logo {
  position: absolute;
  top: 15%;
  left: -8%; 
  grid-column: 8;
  grid-row: 1; 
  z-index: 1; 
  align-self: center;
  width: 100%;
  height: auto; 
}

.header-title--images {
  z-index: 0;
  grid-column: 8 / 16; 
  grid-row: 1;
  /* ../../imagesLogo/headerTitleImages.png */
  // background-image: url('/images/headerTitleImages.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header-title--images img{
  width: 100%;
  height: 100%;
}


.header-title--info {
  margin-top: 98px;
  z-index: 0;
  grid-column: 2 / 8; 
  grid-row: 1;
  display: flex;
  flex-direction: column;
}

.header-title--info h1{
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Urbanist;
  font-size: 46px;
  font-weight: 600;
  line-height: 55.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.header-title--info p{
  margin: 0;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:#999999;
} 

.header-title--buttons{
  margin-top:50px;
  display: flex;
  gap: 16px;
}

.header-title--experience{
  display: flex;
  justify-content: space-between;
  margin-bottom: 98px;
  gap: 16px;
}


.header-title--experience--case{
  margin-top: 50px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 1px solid #262626;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
  padding: 20px;

  background-color: #1A1A1A;
  
}

.header-title--experience--case h2{
  margin: 0;
  font-family: Urbanist;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;  
}

.header-title--experience--case p {
  margin-top: 2px;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #999999;
  margin-bottom: 0;
}

@media (max-width: 900px) {
.parentContainer{
  grid-template-columns: repeat(6, 1fr)!important;
  gap: 16px;
}

.header-title{
  margin-top: 40px;
  display: grid;
  grid-column: 1 / 7;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr;
  margin-left: 16px;
  margin-right: 16px;
}

.header-title--info{
  padding-left:16px;
  padding-right: 16px;
  grid-row: 2;
  grid-column: 1 / 7;
  margin-top: 64.07px;
}

.header-title--info h1{
  font-size: 28px;
  line-height: 33.6px;
  margin-bottom: 16px;
}

.header-title--buttons{
  margin-top: 40px;
  flex-direction: column;
}

.buttons--template--changeHeaderTitle {
  max-width: 100%!important;
}

.header-title--logo{
  grid-column: 1;
  left: 16px;
  top: 40%;
}
.header-title--images{
  grid-row: 1;
  grid-column: 1 / 7;
  background-position: center; 
  height: auto;
  height: 60vh;
  border: 1px solid #262626;
  border-radius: 12px;
}


.header-title--experience{
  gap: 12px;
  flex-wrap: wrap;
}

.header-title--experience {
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 12px; 
  margin-bottom: 40px;
}

.header-title--experience--case {
  width: 40%;
  max-width: 100%;
  padding: 16px 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  flex: 1 1 33.3%; 
}

.header-title--experience--case h2{
  font-size: 24px;
  line-height: 36px;
}

.header-title--experience--case p{
  font-size: 14px;
  line-height: 21px;
}

.header-title--experience--case:last-child {
  flex: 1 1 100%; 
  width: 100%; 
}


}